.piece {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.r {
  background-color: #db5a53;
}

.R {
  background-color: #db5a53;
  background-image: url("./crown.jpg");
  background-position: center;
  background-size: 45px;
}

.b {
  background-color: #666460;
}

.B {
  background-color: #666460;
  background-image: url("./crown.jpg");
  background-position: center;
  background-size: 45px;
}

.clicked {
  background-color: #7947cb;
}
