.square-box {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  background-color: #f7f3e7;
}

.gray {
  background-color: #88b0c4;
}

.moveOption {
  background-color: #7947cb;
}
